@page "/contacts/create"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using BlazorApp.Data
@inject ApplicationDbContext Db
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Criar Contato</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm EditContext="editContext" OnValidSubmit="AddContact" FormName="create" Enhance>
            <DataAnnotationsValidator />
            @* <ValidationSummary class="text-danger" role="alert"/> *@
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <InputText id="name" @bind-Value="Contact.Name" class="form-control" />
                <ValidationMessage For="() => Contact.Name" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <InputText id="email" @bind-Value="Contact.Email" class="form-control" />
                <ValidationMessage For="() => Contact.Email" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Criar</button>
        </EditForm>
    </div>
</div>

<button class="btn btn-secondary ms-3 mt-3" @onclick="BackToContacts">Voltar</button>

@code {
    private Contact Contact { get; set; } = new();

    private EditContext editContext = default!;

    private bool hasSubmitted;

    protected override void OnInitialized()
    {
        editContext = new EditContext(Contact);
    }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddContact()
    {
        hasSubmitted = true;

        if (!editContext.Validate())
            return;

        Db.Contacts.Add(Contact);
        await Db.SaveChangesAsync();

        NavigationManager.NavigateTo("/contacts");
    }

    private void BackToContacts()
    {
        NavigationManager.NavigateTo("/contacts");
    }
}
