@page "/contacts/delete"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using BlazorApp.Data
@inject ApplicationDbContext Db
@inject NavigationManager NavigationManager

<PageTitle>Deletar</PageTitle>

<h2>Deletar Contato</h2>

<p class="text-danger">Você tem certeza que deseja deletar este contato?</p>
<div>
    <hr />
    @if (contact is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <p class="card-text">
                    <strong>Nome:</strong> @contact.Name
                </p>
                <p class="card-text">
                    <strong>Email:</strong> @contact.Email
                </p>
            </div>
        </div>
        <EditForm method="post" Model="contact" OnValidSubmit="DeleteContact" FormName="delete" Enhance>
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-danger" disabled="@(contact is null)">Deletar</button>
                <button type="button" class="btn btn-primary" @onclick="BackToContacts">Voltar</button>
            </div>
        </EditForm>
    }
</div>

@code {
    private Contact? contact;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        contact = await Db.Contacts.FirstOrDefaultAsync(m => m.Id == Id);

        if (contact is null)
        {
            NavigationManager.NotFound();
        }
    }

    private async Task DeleteContact()
    {
        Db.Contacts.Remove(contact!);
        await Db.SaveChangesAsync();
        NavigationManager.NavigateTo("/contacts");
    }

    private void BackToContacts()
    {
        NavigationManager.NavigateTo("/contacts");
    }
}
