@page "/contacts/details"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using BlazorApp.Data
@inject ApplicationDbContext Db
@inject NavigationManager NavigationManager

<PageTitle>Detalhes</PageTitle>

<h2>Detalhes do Contato</h2>

<div>
    <hr />
    @if (contact is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <p class="card-text">
                    <strong>Nome:</strong> @contact.Name
                </p>
                <p class="card-text">
                    <strong>Email:</strong> @contact.Email
                </p>
            </div>
        </div>
        <div class="d-flex gap-2">
            <button type="button" class="btn btn-primary" @onclick="EditContact">Editar</button>
            <button type="button" class="btn btn-secondary" @onclick="BackToContacts">Voltar</button>
        </div>
    }
</div>

@code {
    private Contact? contact;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        contact = await Db.Contacts.FirstOrDefaultAsync(m => m.Id == Id);

        if (contact is null)
        {
            NavigationManager.NotFound();
        }
    }

    private void BackToContacts()
    {
        NavigationManager.NavigateTo("/contacts");
    }

    private void EditContact()
    {
        NavigationManager.NavigateTo($"/contacts/edit?id={contact.Id}");
    }
}
