@page "/Account/Manage/PersonalData"

@using Microsoft.AspNetCore.Identity
@using BlazorApp.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Personal Data</PageTitle>

<StatusMessage />
<h3>Dados Pessoais</h3>

<div class="row">
    <div class="col-md-6">
        <p>Sua conta contém os dados da sua conta. Esta página permite você baixar ou deletar esses dados.</p>
        <div class="flex-row" style="display: flex; gap: 60px">
            <form action="Account/Manage/DownloadPersonalData" method="post">
                <AntiforgeryToken />
                <button class="btn btn-primary" type="submit">Baixar</button>
            </form>
            <p>
                <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">Deletar</a>
            </p>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
        }
    }
}
