@page "/"

<PageTitle>Home</PageTitle>

<h1>Blazor Server + Identity + SQL Server + Docker</h1>

<p>Este projeto é uma aplicação Blazor Server configurada com ASP.NET Core Identity, Entity Framework Core, SQL Server e totalmente containerizada utilizando Docker e Docker Compose.</p>

<p>A solução oferece um sistema completo de autenticação, persistência de dados e um exemplo de CRUD (`Contacts`) executando em um ambiente de desenvolvimento Dockerizado.</p>